*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Comfortaa', cursive;
}
header{
    background-image: url('/images/chef-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 100px;
}
.visually_hidden{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.bc_orange{
    background-color: #f0932b;
}
.bc_light_blue{
    background-color: #7ed6df;
}
.bc_light_red{
    background-color: #ff7979;
}
.bc_green{
    background-color: #badc58;
}
.bc_orange:hover{
    background-color: rgba(240, 147, 43, .5);
}
.bc_light_blue:hover{
    background-color: rgba(126, 214, 223, .5);
}
.bc_light_red:hover{
    background-color: rgba(255, 121, 121, .5);
}
.bc_green:hover{
    background-color: rgba(186, 220, 88, .5);
}
.company_name{
    font-size: 60px;
}
.slogan{
    font-weight: 600;
}
nav{
    width: 80%;
    margin: 50px auto;
    border-top: 1px solid rgba(0, 0, 0, .3);
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    text-align: center;
}
.nav_item{
    display: inline-block; 
}
.nav_link{
    display: inline-block;
    padding: 20px 40px; 
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .8);
    transition: background-color 0.3s;
}
.nav_link:hover{
    background-color: rgba(0, 0, 0, .3);
}
.main {
    text-align: center;
}
.recipe_list{
    width: 80%;
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.recipe_item{
    width: 30%;
    
    margin: 10px 2.2%;
    margin-bottom: 20px;
}
.recipe_img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.recipe_item:nth-child(1),
.recipe_item:nth-child(4){
    margin-left: 0;
}
.recipe_item:nth-child(3),
.recipe_item:nth-child(6){
    margin-right: 0;
}
.recipe_category{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 12px;
    margin-top: 15px;
    padding: 5px 10px;
}
.recipe_title_link{
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    margin: 15px 0;
}
.recipe_title_link:hover{
    color: #ff7979;
}
.all_recipes{
    display: inline-block;
    text-decoration: none;
    color: #ee3232;
    font-weight: 700;
    font-size: 15px;
    margin: 40px 0;
    padding: 15px 30px;
    border: 2px solid #ee3232;
}
.all_recipes:hover{
    background-color: #ee3232;
    color: white;
}
.form{
    background-image: url('/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    text-align: center;
    padding: 100px 0;
    margin: 0 auto;
}
.email_input{
    padding: 10px 20px;
    width: 400px;
    text-align: left;
    border: none;
    outline: none;
}
.email_submit{
    padding: 10px 40px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ee3232;
    color: #fff;
    font-weight: 700;
}
.footer_header{
    margin: 40px 0;
    color: white;
    font-size: 20px;
}